<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}DiyaaHoney{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head_scripts %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="{{ url_for('dashboard.home') }}" class="nav-item">Home</a>
            <a href="{{ url_for('dashboard.hits') }}" class="nav-item">Hits</a>
            <a href="{{ url_for('dashboard.charts') }}" class="nav-item">Dashboard</a>
            <a href="{{ url_for('dashboard.dbgui') }}" class="nav-item">DB GUI</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('dashboard.logout') }}" class="nav-item right">Logout</a>
            {% else %}
                <a href="{{ url_for('dashboard.login') }}" class="nav-item right">Login</a>
            {% endif %}
        </div>
    </nav>
    <main class="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
